!!!5
html
  head
    title= title
    link(rel='stylesheet', href='//twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body!= body
  a#foo.test.blah(data-test='foo') Link
  ul
    li
        a(href='#') Link 1
    li
        a(href='#') Link 2
    li
        a(href='#') Link 3
  span.label.important Testing This Stuff
